@model TallerCRUD.Models.Libro_autor

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar detalles Libro - Autor</h1>

<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="IdAutor" class="control-label"></label>
                <input asp-for="IdAutor" class="form-control" />
                <span asp-validation-for="IdAutor" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .form-group {
        margin-bottom: 1.5rem;
    }

    .btn-primary {
        background-color: #ff5722;
        border-color: #ff5722;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>
